// utils
// Pour ranger les variables, fonctions, mixins et les  %placeholders pour les extensions ;
$background_color: white;
$border_logo: #e2e8f0;
$facebook-color: #00f3c3;
$instagram-color: #00f3c3;
$youtube-color: #00f3c3;
$eveho_color: #00f3c3;
$hamburger_color: #00f3c3;
$call-button_color: #ee285b;
