// Base
// contient les fichiers qui définissent les fondations du site
@font-face {
  font-family: 'EuclidSquare';
  src: local('EuclidSquare'),
    url(~assets/fonts/EuclidSquare/EuclidSquare-Regular.ttf) format('truetype');
}

html {
  font-family: 'EuclidSquare', sans-serif;
  background-color: $background_color;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  border: 0 solid $border_logo;
}
