// Base
// contient les fichiers qui définissent les fondations du site
@font-face {
  font-family: 'EuclidSquare';
  src: local('EuclidSquare'),
    url(~assets/fonts/EuclidSquare/EuclidSquare-Regular.ttf) format('truetype');
}

html {
  font-family: 'EuclidSquare', sans-serif;
  background-color: $background_color;
}
* {
  box-sizing: border-box;
  border: 0 solid $border_logo;
  // overflow-x: hidden;
  // width: 100%;
  // height: 100%;
  // margin: 0;
  // padding: 0;
}
